div.card-wrapper {
    display: flex;
    justify-content: space-around;
}

div.card-wrapper div.card {
    border-radius: 8px;
    box-shadow: 1px 1px 4px 2px #0008;
    border-color: var(--header-background);
    margin: 16px;
    overflow: hidden;
}

div.card-wrapper div.card div.profile-header {
    font-family: ProductSans;
    background-color: var(--header-background);
    color: var(--header-forecolor);
    border-bottom-color: var(--card-border-color);
    border-bottom-style: double;
    font-size: 24pt;
    padding: 8px;
    text-align: center;
}

div.card-wrapper div.card table.card-contents {
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.card-wrapper div.card table.profile-contents tr td {
    padding: 8px;
}

div.card-wrapper div.card table.profile-contents tr td:first-child {
    text-align: right;
    border-right-color: var(--card-border-color);
    border-right-width: 1px;
    border-right-style: solid;
    color: var(--card-param-color);
    font-weight: bold;
}

div.card-wrapper div.card table.profile-contents tr td:nth-child(2) {
    text-align: left;
}

:root {
    --card-border-color: #CCC;
    --card-param-color: #246;
}