body {
    margin: 0;
}

.vertical-centerer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background);
    color: var(--header-forecolor);
    min-height: 48px;
}

div.header div.logo-caption span {
    font-weight: 100;
    font-size: 18pt;
    margin: 8px;
}

div.logo-caption, div.header-caption, div.auth-block {
    flex: 1;
}

div.header-caption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
    flex: 1;
    text-align: center;
    text-size-adjust: 110%;
}

div.header div.auth-block, div.header div.logo-caption {
    font-family: ProductSans;
}

div.header div.auth-block, div.header div.auth-block {
    justify-content: flex-end;
}

div.header div.auth-block, div.header div.auth-block div.auth-buttons {
    display: flex;
}

div.header div.auth-block span.profile {
    font-size: 20px;
    margin: 4px;
    cursor: default;
}

div.header div.auth-block div.profile-icon::before {
    content: url('./../media/icons/profile-icon.svg');
}

div.header div.auth-block a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-out;
    padding: 4px;
}

div.header div.auth-block div.auth-buttons a {
    margin: 4px;
    color: var(--header-background);
    background-color: var(--header-forecolor);
    border-radius: 4px;
    min-width: 80px;
    text-align: center;
    box-shadow: 1px 1px 2px 0 var(--shadow-color);
}

div.header div.auth-block span.profile a,
div.logo-caption a {
    text-decoration: none;
    color: var(--header-forecolor);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

div.header div.auth-block span.profile a:hover,
div.logo-caption a:hover {
    color: var(--profile-hover-color);
}

div.header div.auth-block div.auth-buttons a:hover {
    background-color: var(--auth-button-background-hover);
}

div.header div.auth-block div.auth-buttons a:active {
    transform: translateX(1px) translateY(1px);
    box-shadow: 0 0 2px 0 var(--shadow-color);
}

div.main {
    background-color: var(--main-background);
}

:root {
    --header-background: #08D;
    --header-forecolor: #FFF;
    --auth-button-background-hover: #BDF;
    --shadow-color: #0008;
    --profile-hover-color: #FF8;
    --main-background: #FFF;
}